# Gradle files
.gradle/
build/
distribution/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio generated folders
.navigation/
captures/
.externalNativeBuild

# IntelliJ project files
*.iml
.idea/

# Java binary files
*.class

# Misc
.DS_Store
*.log
*.asc
*.bak
changes.txt
release.sh